*{
    margin: 0px;
    padding: 0px;

}
.manu-container{
    background-color: black;
    color: white;
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo-photo{
    width: 30px;      
}
.manus{
    display: flex;
}
.items{
    margin: 10px;
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.items:hover{
    color: aqua;
}
.banner-container{
    justify-content: center;
    background-color:rgb(15, 3, 3);
    color: azure;
    display: flex;
    justify-content: space-around;
    height: 600px;
    margin-top: 20px;
    padding: 20px;
}
.banner-photo{
    
    
    

    
}
.banner-text{
    width: 600px;
    text-align: center;
    padding-top: 200px;
}
.btn{
    padding-top: 10px;
    color: rgb(231, 226, 226);
    margin: 25px;
    background-color: red;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}